.benefits {
}

.benefits-wrap {
}

.benefits-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-content {
  width: 350px;
}
.card-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid #E72424;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.card-content-img img {
  max-width: 100%;
  max-height: 100%;
}

.card-content-title {
  color: #333333;
  font-size: 20px;
 font-family: 'Open Sans';
 font-weight: 700;
 line-height: 27px;
 margin-bottom: 23px;
 text-align: center;
}
.card-content-text {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  width: 350px;
  text-align: center;
}