.contactUs {
}
.contact-form {
}
.contact-form-wrap {
  
}
.contact-form-wrap-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.wrap-items-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 65px;
  
}
.item-input{
  width:478px;
  width:40%;
}
.itemName{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  
}
.name{
  width:100%;
}
.itemMail{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width:100%;
}
.email{
  width:100%;
}
.itemPassword{
  display: flex;
  flex-direction: column;
}
.password{
  width:100%;
}
.item-textArea{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.labelArea{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
  cursor: pointer;
}
.textArea {
  width:100%;
  border: none;
  height:200px;
  border-bottom: 1px solid #BDBDBD;
  resize: vertical;
}
.item-button{
  display: flex;
  align-items: flex-end;
  justify-content:center;
  padding: 40px 0;
}
.contact-button {
width: 166px;
line-height: 42px;
border: none;
text-transform: capitalize;
background-color: #EC7979;
font-family: 'Open Sans';
font-size: 15px;
font-weight: 600;
color: #fff;
cursor: pointer;
transition: 0.2s;
}
.contact-button:hover{
transform: scale(1.05);

}
